article {
	width:85%;}
	
.bloqueobra h1 {
	font-size: 18px;
	color: #384478;
	text-align: center;
    font-family: 'Orbitron', sans-serif;
}	
	
/* CSS de las obras */
#contenedorcolumnaobra {width: 100%;}