@charset "utf-8";

.sosteatral
{width: 100%;}

.sos {margin: 0 auto; width: 90%; font-family: Verdana, Geneva, sans-serif;}
.sos h1 {text-align: center; margin-top: 15px;}
.sos p {width: 100%; font-size: 18px; margin: 20px auto;}

/* Para celular */

div #vsolar {width: 100%; height: 373px; margin: 20px auto;}

/* Css Programación Teatro Matacandelas pagina index*/

#programacion {
	background-color: #FFF;
	width: 100%;
	font-family: Verdana, Arial, Geneva, sans-serif;
	margin: 0 auto;
}

#programacion h2.fecha {
	width: 100%;
	line-height:60px;
	font-size: 38px;
	color: #232323;
	letter-spacing: 16px;
	text-align: center;
    font-family: 'Orbitron', sans-serif;
	background-color: #D0D6F8;
	margin:0 auto;
}
#programacion .noticiasfuncion:nth-child(odd) {background-color: #E2E5F8;}

#programacion .noticiasfuncion {
	width: 100%;
	height: auto;
	margin: 0 auto 0 auto;
	border-bottom: solid 1px #B7B7B7;
	overflow: hidden;
	position: relative;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;  /* Transition for Webkit browsers */
	text-align:center;
}
#programacion .noticiasfuncion:hover {background: #D2E5F3;filter: grayscale(0%);-webkit-filter: grayscale(0%); filter:none;	border-bottom: solid 1px #470001;}

#programacion .noticiasfuncion .dia {width:100%; height:auto; font-family: 'Orbitron', sans-serif; background-color: #222222; padding: 10px; margin-bottom:10px;} 
#programacion .noticiasfuncion .dia * {display:inline; color:#FFFFFF;}


#programacion .noticiasfuncion .dia h5, #programacion .noticiasfuncion .dia h3 {margin-left:25px;}

#programacion .noticiasfuncion .festivo {background-color:#EDCECF;} 

#programacion > .noticiasfuncion h1 {
	clear:both;
	color: #134D5F;
	font-size: 30px;
    font-family: 'Orbitron', sans-serif;
}

#programacion .noticiasfuncion a.vermas {
	text-decoration: none;
	font-size: 13px;
	position: absolute;
	color: #930;
	display:block;
	bottom:3px;
	right:20px;
}

#programacion .noticiasfuncion img {
	display:inline-block;
	margin-right:20px;
	border: 5px double;
	border-color: #3C3C3C #999 #ccc #3C3C3C;
}

#programacion .ciudad {border:2px solid #033;}
#programacion .sexta {border:2px solid #033; background-color:#FFF2F2;}

/* cambiar imagenes al pasar el mause */

#programacion > .noticiasfuncion p {
	color: #222;
	font-size: 14px;
	line-height: 22px;


}
#programacion > .noticiasfuncion p strong {color: #9E1517; font-size:16px;}

#contents > #programacion > .noticiasfuncion .btn {color:#FFFFFF; height:32px; line-height:20px; padding: 4px;}


#docsydescus {text-align:center; width:100%; margin:0 auto;  margin-top:20px; border-top: solid 1px #1F55A7;}

/* Documentos nuevos */
#docsydescus #nuevosdocs {width: 95%; font-size:11px; vertical-align:top; margin:0 auto;}
#docsydescus #nuevosdocs ul {text-align: left; list-style:none;}
#docsydescus #nuevosdocs ul li {margin-bottom:1px;}

/* Descuentos */
#docsydescus #descuentos {width: 95%; font-size:11px; text-align:center; margin:0 auto;}
#docsydescus #descuentos .descu {margin-bottom:3px; margin:0 auto;}
#docsydescus #descuentos .descu img {float:left;}
#docsydescus #descuentos .descu p {height:100px; text-align:center; display:table-cell; vertical-align:middle; font-size:13px; padding: 0 15px;}
#docsydescus #descuentos p {text-align:center; margin-top:10px;}