@charset "utf-8";

.sos {margin: 0 auto; width: 80%; font-family: Verdana, Geneva, sans-serif;}
.sos h1 {text-align: center; margin-top: 15px;}
.sos p {width: 60%; font-size: 18px; margin: 20px auto;}

/* Para celular */

div #vsolar {width: 840px; height: 473px; margin: 20px auto;}

/* Css Programación Teatro Matacandelas pagina index*/

#programacion {
	background-color: #FFF;
	width: 100%;
	position: relative;
	font-family: Verdana, Arial, Geneva, sans-serif;
	margin: 0 auto 0 auto;
}

#programacion h2.fecha {
	width: 70%;
	line-height:60px;
	font-size: 38px;
	color: #232323;
	letter-spacing: 16px;
	text-align: center;
    font-family: 'Orbitron', sans-serif;
	background-color: #D0D6F8;
	margin:0 auto;
}
#programacion .noticiasfuncion:nth-child(odd) {background-color: #F5E5E5;}

#programacion .noticiasfuncion {
	width: 70%;
	height: auto;
	margin: 0 auto 0 auto;
	border-bottom: solid 1px #B7B7B7;
	overflow: hidden;
	position: relative;
	padding: 2% 1%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;  /* Transition for Webkit browsers */
}
#programacion .noticiasfuncion:hover {background: #D2E5F3;filter: grayscale(0%);-webkit-filter: grayscale(0%);filter: none;	border-bottom: solid 1px #470001;}

#programacion .noticiasfuncion .dia {width:140px; height:150px; float:left; padding:2px; margin:6px 30px 0 10px; font-family: 'Orbitron', sans-serif;} 
#programacion .noticiasfuncion .festivo {background-color:#EDCECF;}
#programacion .noticiasfuncion .dia h5 {
	font-size: 14px;
	line-height: 17px;
	color: #478EAC;
	width:100%;
	text-align: center;
	letter-spacing:2px;
	margin:3px auto 0 auto;
}
#programacion .noticiasfuncion:hover .dia h5 {color:#933;}

#programacion .noticiasfuncion .dia h3 {
	width:100px;
	height:67px;
	margin:0 auto 0 auto;
	background-image:url(/assets/img/botonfecha2.png);
	text-align:center; 
	line-height: 65px;
	color: #8E3436;
	font-size: 45px;
}
#programacion > .noticiasfuncion h1 {
	color: #134D5F;
	font-size: 30px;
	display: inline;
    font-family:  Verdana, Arial, Geneva, sans-serif;
	font-weight: bolder;
}
#programacion .noticiasfuncion h3.rojo {background-image: url(/assets/img/botonfechar.png);}

#programacion .noticiasfuncion a.vermas {
	text-decoration: none;
	font-size: 13px;
	position: absolute;
	color: #930;
	display:block;
	bottom:3px;
	right:20px;
}

#programacion .noticiasfuncion img {
	float: right;
	margin-right:20px;
	border: 5px double;
	border-color: #3C3C3C #999 #ccc #3C3C3C;
}

#programacion .noticiasfuncion img.sobre {

	position: absolute;
	left: 30px;
	top: 0px;
	border: 0;
}

#programacion .ciudad {border:2px solid #033;}
#programacion .sexta {border:2px solid #033; background-color:#FFF2F2;}

/* cambiar imagenes al pasar el mause */
#programacion > .noticiasfuncion img.imgo {visibility:hidden;opacity:0;transition:visibility 0s linear 1s,opacity 1s linear;}
#programacion > .noticiasfuncion:hover img.imgo {visibility:visible;opacity:1;transition-delay:0s;}
#programacion > .noticiasfuncion p {
	color: #333;
	font-size: 13px;
	margin: 0 20px 0 175px;
	display:block;
}
#programacion > .noticiasfuncion p strong {color: #9E1517; font-size:16px;}

#contents > #programacion > .noticiasfuncion .btn {color:#FFFFFF; height:32px; line-height:20px; padding: 4px;}

#docsydescus {text-align:center; width:100%; margin:0 auto; margin-top:20px; border-top: solid 1px #1F55A7;}

/* Documentos nuevos */
#docsydescus #nuevosdocs {width: 50%; padding:5%; font-size:13px; display:inline-block; vertical-align:top;}
#docsydescus #nuevosdocs ul {text-align: left; list-style:none;}
#docsydescus #nuevosdocs ul li {margin-bottom:1px;}

/* Descuentos */
#docsydescus #descuentos {width: 45%; padding:5%; font-size:11px; text-align:center; display:inline-block;}
#docsydescus #descuentos .descu {margin-bottom:3px; margin:0 auto;}
#docsydescus #descuentos .descu img {float:left;}
#docsydescus #descuentos .descu p {height:100px; text-align:center; display:table-cell; vertical-align:middle; font-size:13px; padding: 0 15px;}
#docsydescus #descuentos p {text-align:center; margin-top:10px;}